.brimayno {
background-color: #afeeee;
}
.brimaybe {
background-color: #87ceeb;
}
.brisure {
background-color: #1e90ff;
font-weight: bold;
}

.fogmayno {
background-color: #d8bfd8;
}
.fogmaybe {
background-color: #ee82ee;
}
.fogsure {
background-color: #ff00ff;
font-weight: bold;
}

.past {
background-color: #c0c0c0 !important;
}
.now {
background-color: #fa8072 !important;
}
.ck{
background-color: #ecc;
}

td {
	text-align: center;
}